<div>
  <h1><span class='badge text-bg-dark'>{{name}}
      <svg
        xmlns='http://www.w3.org/2000/svg'
        viewBox='0 0 48 48'
        width='35px'
        height='35px'
      ><path
          fill='#0883d9'
          d='M36.232,23.985c0-5.865,4.766-8.51,4.966-8.636c-2.596-3.993-6.79-4.467-8.362-4.468	c-3.643,0-6.863,2.022-8.585,2.022c-1.797,0-4.418-2.121-7.363-2.022c-3.843,0.075-7.363,2.346-9.334,5.691	c-1.397,2.396-1.947,5.217-1.896,8.087c0.002,0.113,0.017,0.228,0.02,0.341H36.32C36.279,24.671,36.243,24.337,36.232,23.985z'
        /><path
          fill='#0883d9'
          d='M30.565,7.063C32.261,5.191,33.21,2.621,33.06,0c-2.346,0-5.066,1.372-6.788,3.394	c-1.348,1.672-2.795,4.293-2.271,6.913C26.422,10.607,29.043,9.085,30.565,7.063z'
        /><path
          fill='#0370c8'
          d='M17.511,45c2.771,0,3.794-1.848,7.413-1.848c3.37,0,4.418,1.848,7.338,1.848	c3.07,0,5.092-2.795,6.913-5.567c2.295-3.218,3.07-6.288,3.169-6.414c-0.094,0-5.287-2.112-6.026-8.019H5.678	c0.157,5.311,2.228,10.79,4.671,14.309C12.27,42.055,14.441,45,17.511,45z'
        /></svg></span></h1>
  <hr />
  <section>
    <h2>{{description}}</h2>
    <h2><em><span class='badge text-bg-success'>Price only
          {{price}}€</span></em></h2>
    <h3>Category - {{category}}</h3>
  </section>
  <div>
    <hr />
    {{#with features}}
      <h2>Features:</h2>
      <p>
        <button
          class='btn btn-primary'
          type='button'
          data-bs-toggle='collapse'
          data-bs-target='#collapseWidthExample'
          aria-expanded='false'
          aria-controls='collapseWidthExample'
        >
          <h3>Processor
            <svg
              fill='#000000'
              width='35px'
              height='35px'
              viewBox='0 0 24 24'
              id='processor'
              data-name='Flat Line'
              xmlns='http://www.w3.org/2000/svg'
              class='icon flat-line'
            ><path
                id='secondary'
                d='M17,6H7A1,1,0,0,0,6,7V17a1,1,0,0,0,1,1H17a1,1,0,0,0,1-1V7A1,1,0,0,0,17,6Zm-3,8H10V10h4Z'
                style='fill: rgb(44, 169, 188); stroke-width: 2;'
              ></path><path
                id='primary'
                d='M12,6V3m4,3V4M8,6V4m10,8h3m-3,4h2M18,8h2M12,18v3M8,18v2m8-2v2M6,12H3M6,8H4m2,8H4m14,1V7a1,1,0,0,0-1-1H7A1,1,0,0,0,6,7V17a1,1,0,0,0,1,1H17A1,1,0,0,0,18,17Zm-4-7H10v4h4Z'
                style='fill: none; stroke: rgb(0, 0, 0); stroke-linecap: round; stroke-linejoin: round; stroke-width: 2;'
              ></path></svg></h3>
        </button>
      </p>
      <div style='min-height: 120px;'>
        <div
          class='collapse collapse-horizontal'
          id='collapseWidthExample'
        >
          <div class='card card-body' style='width: 300px;'>
            <ul>
              {{#with processor}}
                <li>
                  {{brand}}
                </li>
                <li>
                  {{model}}
                </li>
                <li>
                  {{speed}}
                </li>
                <li>
                  {{cores}}
                </li>
                <li>
                  {{cache}}
                </li>
              {{/with}}
            </ul>
          </div>
        </div>
      </div>

      <hr />
      <p>
        <button
          class='btn btn-primary'
          type='button'
          data-bs-toggle='collapse'
          data-bs-target='#collapseWidthExample'
          aria-expanded='false'
          aria-controls='collapseWidthExample'
        >
          <h3>Memory
            <svg
              fill='#000000'
              width='35px'
              height='35px'
              viewBox='0 0 24 24'
              id='Layer_2'
              version='1.1'
              xml:space='preserve'
              xmlns='http://www.w3.org/2000/svg'
              xmlns:xlink='http://www.w3.org/1999/xlink'
            ><path
                d='M18.5,5h-13C4.122,5,3,6.122,3,7.5v4.667c0,0.989,0.582,1.838,1.417,2.243v3.101c0,0.821,0.668,1.489,1.49,1.489h12.188  c0.821,0,1.49-0.668,1.49-1.489V14.41C20.418,14.004,21,13.155,21,12.167V7.5C21,6.122,19.878,5,18.5,5z M18.583,14.667v2.844  c0,0.27-0.22,0.489-0.49,0.489H15.75v-2.167c0-0.276-0.224-0.5-0.5-0.5s-0.5,0.224-0.5,0.5V18H12.5v-2.167  c0-0.276-0.224-0.5-0.5-0.5s-0.5,0.224-0.5,0.5V18H9.25v-2.167c0-0.276-0.224-0.5-0.5-0.5s-0.5,0.224-0.5,0.5V18H5.906  c-0.27,0-0.49-0.22-0.49-0.489v-2.844H5.5h13H18.583z M20,12.167c0,0.827-0.673,1.5-1.5,1.5h-13c-0.827,0-1.5-0.673-1.5-1.5V7.5  C4,6.673,4.673,6,5.5,6h13C19.327,6,20,6.673,20,7.5V12.167z'
              /><path
                d='M7.958,7.208H6c-0.276,0-0.5,0.224-0.5,0.5v4.208c0,0.276,0.224,0.5,0.5,0.5h1.958c0.276,0,0.5-0.224,0.5-0.5V7.708  C8.458,7.432,8.235,7.208,7.958,7.208z M7.458,11.417H6.5V8.208h0.958V11.417z'
              /><path
                d='M12.979,7.208h-1.958c-0.276,0-0.5,0.224-0.5,0.5v4.208c0,0.276,0.224,0.5,0.5,0.5h1.958c0.276,0,0.5-0.224,0.5-0.5V7.708  C13.479,7.432,13.255,7.208,12.979,7.208z M12.479,11.417h-0.958V8.208h0.958V11.417z'
              /><path
                d='M18,7.208h-1.958c-0.276,0-0.5,0.224-0.5,0.5v4.208c0,0.276,0.224,0.5,0.5,0.5H18c0.276,0,0.5-0.224,0.5-0.5V7.708  C18.5,7.432,18.276,7.208,18,7.208z M17.5,11.417h-0.958V8.208H17.5V11.417z'
              /></svg></h3>
        </button>
      </p>
      <div style='min-height: 120px;'>
        <div
          class='collapse collapse-horizontal'
          id='collapseWidthExample'
        >
          <div class='card card-body' style='width: 300px;'>
            <ul>
              {{#with memory}}
                <li>
                  {{type}}
                </li>
                <li>
                  {{size}}
                </li>
                <li>
                  {{speed}}
                </li>
              {{/with}}
            </ul>
          </div>
        </div>
      </div>

      <hr />
      <p>
        <button
          class='btn btn-primary'
          type='button'
          data-bs-toggle='collapse'
          data-bs-target='#collapseWidthExample'
          aria-expanded='false'
          aria-controls='collapseWidthExample'
        >
          <h3>Storage
            <svg
              fill='#000000'
              width='35px'
              height='35px'
              viewBox='0 0 36 36'
              version='1.1'
              preserveAspectRatio='xMidYMid meet'
              xmlns='http://www.w3.org/2000/svg'
              xmlns:xlink='http://www.w3.org/1999/xlink'
            >
              <title>hard-drive-line</title>
              <path
                d='M34,8a2,2,0,0,0-2-2H4A2,2,0,0,0,2,8V28a2,2,0,0,0,2,2H32a2,2,0,0,0,2-2ZM32,28H4V8H32V28Z'
                class='clr-i-outline clr-i-outline-path-1'
              ></path><circle
                cx='6.21'
                cy='10.25'
                r='1.25'
                class='clr-i-outline clr-i-outline-path-2'
              ></circle><circle
                cx='29.81'
                cy='10.25'
                r='1.25'
                class='clr-i-outline clr-i-outline-path-3'
              ></circle><circle
                cx='6.21'
                cy='25.42'
                r='1.25'
                class='clr-i-outline clr-i-outline-path-4'
              ></circle><circle
                cx='29.81'
                cy='25.42'
                r='1.25'
                class='clr-i-outline clr-i-outline-path-5'
              ></circle><path
                d='M11.88,18.08a3.59,3.59,0,1,0,3.59-3.59,3.84,3.84,0,0,0-.91.13L15,16.16a2.08,2.08,0,0,1,.5-.07,2,2,0,1,1-2,2,1.64,1.64,0,0,1,.08-.5L12,17.16A3.53,3.53,0,0,0,11.88,18.08Z'
                class='clr-i-outline clr-i-outline-path-6'
              ></path><path
                d='M15.47,25.73a7.66,7.66,0,0,1-7.65-7.65,7.55,7.55,0,0,1,.27-2L6.54,15.7a9.24,9.24,0,0,0,17.8,4.95H22.66A7.64,7.64,0,0,1,15.47,25.73Z'
                class='clr-i-outline clr-i-outline-path-7'
              ></path><path
                d='M28.22,17.83a.8.8,0,0,0-.8-.8H24.66a9.26,9.26,0,0,0-9.19-8.2,9.36,9.36,0,0,0-2.38.32l.42,1.54a7.86,7.86,0,0,1,2-.26A7.66,7.66,0,0,1,23,17H20.92a.8.8,0,0,0,0,1.6h6.5A.8.8,0,0,0,28.22,17.83Z'
                class='clr-i-outline clr-i-outline-path-8'
              ></path>
              <rect
                x='0'
                y='0'
                width='35'
                height='35'
                fill-opacity='0'
              />
            </svg></h3>
        </button>
      </p>
      <div style='min-height: 120px;'>
        <div
          class='collapse collapse-horizontal'
          id='collapseWidthExample'
        >
          <div class='card card-body' style='width: 300px;'>
            <ul>
              {{#with storage}}
                <li>
                  {{type}}
                </li>
                <li>
                  {{size}}
                </li>
              {{/with}}
            </ul>
          </div>
        </div>
      </div>
      <hr />
      <p>
        <button
          class='btn btn-primary'
          type='button'
          data-bs-toggle='collapse'
          data-bs-target='#collapseWidthExample'
          aria-expanded='false'
          aria-controls='collapseWidthExample'
        >
          <h3>Display
            <svg
              width='35px'
              height='35px'
              viewBox='0 0 64 64'
              xmlns='http://www.w3.org/2000/svg'
              fill='none'
              stroke='#000000'
            ><rect
                x='8'
                y='8'
                width='48'
                height='36'
                rx='4'
              /><line
                x1='16'
                y1='56'
                x2='48'
                y2='56'
              /><line
                x1='28'
                y1='44'
                x2='24'
                y2='56'
              /><line
                x1='36'
                y1='44'
                x2='40'
                y2='56'
              /><line
                x1='8'
                y1='36'
                x2='56'
                y2='36'
              /></svg></h3>
        </button>
      </p>
      <div style='min-height: 120px;'>
        <div
          class='collapse collapse-horizontal'
          id='collapseWidthExample'
        >
          <div class='card card-body' style='width: 300px;'>
            <ul>
              {{#with display}}
                <li>
                  {{size}}
                </li>
                <li>
                  {{resolution}}
                </li>
                <li>
                  {{technology}}
                </li>
                <li>
                  {{color_space}}
                </li>
                <li>
                  {{brightness}}
                </li>
                <li>
                  {{refresh_rate}}
                </li>
              {{/with}}
            </ul>
          </div>
        </div>
      </div>
      <hr />
      <p>
        <button
          class='btn btn-primary'
          type='button'
          data-bs-toggle='collapse'
          data-bs-target='#collapseWidthExample'
          aria-expanded='false'
          aria-controls='collapseWidthExample'
        >
          <h3>Graphics
            <svg
              width='35px'
              height='35px'
              id='Layer_1'
              data-name='Layer 1'
              xmlns='http://www.w3.org/2000/svg'
              viewBox='0 0 122.88 104.91'
            ><title>gpu</title><path
                d='M32.05,18.59H90.83a12.71,12.71,0,0,1,9,3.76h0a12.76,12.76,0,0,1,3.76,9V73.52a12.78,12.78,0,0,1-3.77,9l0,0a12.77,12.77,0,0,1-9,3.76H32.05a12.76,12.76,0,0,1-9-3.77h0a12.76,12.76,0,0,1-3.76-9V31.39a12.75,12.75,0,0,1,3.76-9l0,0a12.78,12.78,0,0,1,9-3.75Zm9.59,44a4.89,4.89,0,0,1-4.85-3,11.22,11.22,0,0,1-.9-3.21,28.31,28.31,0,0,1-.25-3.9A25.47,25.47,0,0,1,36,48.33a8.69,8.69,0,0,1,1.13-3.23A5.29,5.29,0,0,1,39.43,43a9.25,9.25,0,0,1,4-.73,26.58,26.58,0,0,1,2.73.12,18.75,18.75,0,0,1,2.14.35c.66.15,1.35.33,2.07.53v4.06c-.4-.07-.9-.14-1.51-.19s-1.29-.1-2-.14S45.25,47,44.4,47a4.48,4.48,0,0,0-2.31.47,2.44,2.44,0,0,0-1,1.68,18.48,18.48,0,0,0-.24,3.39,21.85,21.85,0,0,0,.13,2.7,4.77,4.77,0,0,0,.44,1.6,1.67,1.67,0,0,0,.8.78,2.68,2.68,0,0,0,1.15.22,13.49,13.49,0,0,0,1.78-.1c.52-.06.91-.12,1.18-.17V55H43.57V50.83c.4-.06.87-.1,1.41-.14s1.11-.07,1.7-.09,1.11,0,1.6,0H50l1.36,0V62.47H47.42l-.7-1.32a10,10,0,0,1-2,.94,8.73,8.73,0,0,1-3.06.51Zm12.66-.13v-20h8.77a10.13,10.13,0,0,1,2.09.23,4.65,4.65,0,0,1,2,.94,4.8,4.8,0,0,1,1.45,2.15,10.9,10.9,0,0,1,.55,3.83,11.79,11.79,0,0,1-.53,3.89,5.19,5.19,0,0,1-1.4,2.2,4.55,4.55,0,0,1-1.87,1,8,8,0,0,1-2,.25,9.74,9.74,0,0,1-1.06,0c-.37,0-.73-.08-1.08-.15s-.67-.12-1-.19l-.74-.14v6ZM59.52,52.3h3a1.17,1.17,0,0,0,.85-.29,1.7,1.7,0,0,0,.43-.87,7.31,7.31,0,0,0,.12-1.44,5.5,5.5,0,0,0-.15-1.4,1.84,1.84,0,0,0-.44-.85,1.13,1.13,0,0,0-.81-.28h-3V52.3ZM79.15,62.6A18.12,18.12,0,0,1,76,62.34a7.15,7.15,0,0,1-2.59-1,4.76,4.76,0,0,1-1.76-2,7.82,7.82,0,0,1-.64-3.42V42.49h5.22V55.85A1.86,1.86,0,0,0,76.61,57a2,2,0,0,0,1,.69,5.41,5.41,0,0,0,3.12,0,2.05,2.05,0,0,0,1-.69A1.92,1.92,0,0,0,82,55.85V42.49h5.22V55.88a8,8,0,0,1-.63,3.42,4.83,4.83,0,0,1-1.76,2,7.31,7.31,0,0,1-2.58,1,18.07,18.07,0,0,1-3.12.26Zm2.41,29.71h6.83a1.28,1.28,0,0,1,1.27,1.28v10a1.28,1.28,0,0,1-1.27,1.28H81.56a1.28,1.28,0,0,1-1.28-1.28v-10a1.28,1.28,0,0,1,1.28-1.28Zm-15.69,0H72.7A1.29,1.29,0,0,1,74,93.59v10a1.29,1.29,0,0,1-1.28,1.28H65.87a1.28,1.28,0,0,1-1.28-1.28v-10a1.28,1.28,0,0,1,1.28-1.28Zm-15.69,0H57a1.28,1.28,0,0,1,1.28,1.28v10A1.28,1.28,0,0,1,57,104.91H50.18a1.29,1.29,0,0,1-1.28-1.28v-10a1.29,1.29,0,0,1,1.28-1.28Zm-15.69,0h6.84a1.28,1.28,0,0,1,1.27,1.28v10a1.28,1.28,0,0,1-1.27,1.28H34.49a1.28,1.28,0,0,1-1.27-1.28v-10a1.28,1.28,0,0,1,1.27-1.28ZM81.56,0h6.83a1.27,1.27,0,0,1,1.27,1.28v10a1.27,1.27,0,0,1-1.27,1.28H81.56a1.28,1.28,0,0,1-1.28-1.28v-10A1.28,1.28,0,0,1,81.56,0ZM65.87,0H72.7A1.28,1.28,0,0,1,74,1.28v10a1.28,1.28,0,0,1-1.28,1.28H65.87a1.28,1.28,0,0,1-1.28-1.28v-10A1.28,1.28,0,0,1,65.87,0ZM50.18,0H57a1.28,1.28,0,0,1,1.28,1.28v10A1.28,1.28,0,0,1,57,12.59H50.18a1.28,1.28,0,0,1-1.28-1.28v-10A1.28,1.28,0,0,1,50.18,0ZM34.49,0h6.84A1.27,1.27,0,0,1,42.6,1.28v10a1.27,1.27,0,0,1-1.27,1.28H34.49a1.27,1.27,0,0,1-1.27-1.28v-10A1.27,1.27,0,0,1,34.49,0Zm75.8,56.36v6.83a1.28,1.28,0,0,0,1.28,1.28h10a1.28,1.28,0,0,0,1.28-1.28V56.36a1.28,1.28,0,0,0-1.28-1.28h-10a1.28,1.28,0,0,0-1.28,1.28Zm0-15.69v6.84a1.27,1.27,0,0,0,1.28,1.27h10a1.27,1.27,0,0,0,1.28-1.27V40.67a1.27,1.27,0,0,0-1.28-1.27h-10a1.27,1.27,0,0,0-1.28,1.27Zm0,31.38v6.83a1.28,1.28,0,0,0,1.28,1.28h10a1.28,1.28,0,0,0,1.28-1.28V72.05a1.28,1.28,0,0,0-1.28-1.28h-10a1.28,1.28,0,0,0-1.28,1.28Zm0-47.06v6.83a1.28,1.28,0,0,0,1.28,1.28h10a1.28,1.28,0,0,0,1.28-1.28V25a1.28,1.28,0,0,0-1.28-1.28h-10A1.28,1.28,0,0,0,110.29,25ZM12.59,56.36v6.83a1.28,1.28,0,0,1-1.28,1.28h-10A1.28,1.28,0,0,1,0,63.19V56.36a1.28,1.28,0,0,1,1.28-1.28h10a1.28,1.28,0,0,1,1.28,1.28Zm0-15.69v6.84a1.27,1.27,0,0,1-1.28,1.27h-10A1.27,1.27,0,0,1,0,47.51V40.67A1.27,1.27,0,0,1,1.28,39.4h10a1.27,1.27,0,0,1,1.28,1.27Zm0,31.38v6.83a1.28,1.28,0,0,1-1.28,1.28h-10A1.28,1.28,0,0,1,0,78.88V72.05a1.28,1.28,0,0,1,1.28-1.28h10a1.28,1.28,0,0,1,1.28,1.28Zm0-47.06v6.83a1.28,1.28,0,0,1-1.28,1.28h-10A1.28,1.28,0,0,1,0,31.82V25a1.28,1.28,0,0,1,1.28-1.28h10A1.28,1.28,0,0,1,12.59,25Zm78.24,0H32.05a6.34,6.34,0,0,0-4.5,1.86h0a6.34,6.34,0,0,0-1.86,4.5V73.52a6.38,6.38,0,0,0,6.37,6.37H90.83A6.34,6.34,0,0,0,95.32,78h0a6.3,6.3,0,0,0,1.87-4.49V31.39a6.38,6.38,0,0,0-1.87-4.5h0A6.32,6.32,0,0,0,90.83,25Z'
              /></svg></h3>
        </button>
      </p>
      <div style='min-height: 120px;'>
        <div
          class='collapse collapse-horizontal'
          id='collapseWidthExample'
        >
          <div class='card card-body' style='width: 300px;'>
            <ul>
              {{#with graphics}}
                <li>
                  {{brand}}
                </li>
                <li>
                  {{model}}
                </li>
                <li>
                  {{memory}}
                </li>
              {{/with}}
            </ul>
          </div>
        </div>
      </div>
      </div>
      <hr />
      <div>
        <h2><span class="badge text-bg-warning">Ports: <svg width="35px" height="35px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M12 1.25C12.2508 1.25 12.4849 1.37533 12.624 1.58397L14.624 4.58397C14.8538 4.92862 14.7607 5.39427 14.416 5.62404C14.0714 5.8538 13.6057 5.76067 13.376 5.41603L12.75 4.47708V14.9919C12.8713 14.93 12.9983 14.8767 13.1304 14.8326L16.3953 13.7443C16.9057 13.5742 17.25 13.0965 17.25 12.5585V10.7084C17.0498 10.6695 16.8169 10.5847 16.6161 10.3839C16.3803 10.1481 16.3045 9.8679 16.275 9.64857C16.2498 9.46136 16.2499 9.23958 16.25 9.03447V8.96555C16.2499 8.76045 16.2498 8.53864 16.275 8.35143C16.3045 8.1321 16.3803 7.85192 16.6161 7.61612C16.8519 7.38032 17.1321 7.30448 17.3514 7.27499C17.5386 7.24982 17.7604 7.24991 17.9656 7.24999H18.0344C18.2396 7.24991 18.4614 7.24982 18.6486 7.27499C18.8679 7.30448 19.1481 7.38032 19.3839 7.61612C19.6197 7.85192 19.6955 8.1321 19.725 8.35143C19.7502 8.53864 19.7501 8.76042 19.75 8.96553V9.03445C19.7501 9.23955 19.7502 9.46136 19.725 9.64857C19.6955 9.8679 19.6197 10.1481 19.3839 10.3839C19.1831 10.5847 18.9502 10.6695 18.75 10.7084V12.5585C18.75 13.7422 17.9926 14.793 16.8696 15.1674L13.6047 16.2557C13.122 16.4166 12.7879 16.8525 12.753 17.3544C13.9057 17.6818 14.75 18.7423 14.75 20C14.75 21.5188 13.5188 22.75 12 22.75C10.4812 22.75 9.25 21.5188 9.25 20C9.25 18.7412 10.0957 17.68 11.25 17.3535V14.4415C11.25 13.9035 10.9057 13.4258 10.3953 13.2557L7.13037 12.1674C6.00743 11.793 5.25 10.7422 5.25 9.55848V7.58159C4.65876 7.30073 4.25 6.6981 4.25 6C4.25 5.0335 5.0335 4.25 6 4.25C6.9665 4.25 7.75 5.0335 7.75 6C7.75 6.6981 7.34124 7.30073 6.75 7.58159V9.55848C6.75 10.0965 7.09429 10.5742 7.60472 10.7443L10.8696 11.8326C11.0017 11.8767 11.1287 11.93 11.25 11.9919V4.47708L10.624 5.41603C10.3943 5.76067 9.92862 5.8538 9.58397 5.62404C9.23933 5.39427 9.1462 4.92862 9.37596 4.58397L11.376 1.58397C11.5151 1.37533 11.7492 1.25 12 1.25ZM18 9.25C18.0991 9.25 18.1794 9.24997 18.2488 9.24885C18.25 9.17939 18.25 9.09908 18.25 9C18.25 8.90092 18.25 8.82061 18.2488 8.75115C18.1794 8.75003 18.0991 8.75 18 8.75C17.9009 8.75 17.8206 8.75003 17.7512 8.75115C17.75 8.82061 17.75 8.90092 17.75 9C17.75 9.09908 17.75 9.17939 17.7512 9.24885C17.8206 9.24997 17.9009 9.25 18 9.25ZM10.75 20C10.75 19.3096 11.3096 18.75 12 18.75C12.6904 18.75 13.25 19.3096 13.25 20C13.25 20.6904 12.6904 21.25 12 21.25C11.3096 21.25 10.75 20.6904 10.75 20ZM6 6.25C6.13807 6.25 6.25 6.13807 6.25 6C6.25 5.86193 6.13807 5.75 6 5.75C5.86193 5.75 5.75 5.86193 5.75 6C5.75 6.13807 5.86193 6.25 6 6.25Z" fill="#1C274C"/>
</svg></span></h2>
        {{#each ports}}
          <p><b>{{type}} - {{count}}</b></p>
        {{#if features}}
        <ul>
          <li>
        <b>Features: {{features}}</b>
          </li>
        </ul>
        <hr>
        {{/if}}
        {{/each}}
      </div>
      <hr />
      <div>
        <h2><span class="badge text-bg-warning">Battery: <svg width="35px" height="35px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M7.5 10V14M11.5 10V14M15.5 10V14M21 13V11M6.2 18H16.8C17.9201 18 18.4802 18 18.908 17.782C19.2843 17.5903 19.5903 17.2843 19.782 16.908C20 16.4802 20 15.9201 20 14.8V9.2C20 8.0799 20 7.51984 19.782 7.09202C19.5903 6.71569 19.2843 6.40973 18.908 6.21799C18.4802 6 17.9201 6 16.8 6H6.2C5.0799 6 4.51984 6 4.09202 6.21799C3.71569 6.40973 3.40973 6.71569 3.21799 7.09202C3 7.51984 3 8.07989 3 9.2V14.8C3 15.9201 3 16.4802 3.21799 16.908C3.40973 17.2843 3.71569 17.5903 4.09202 17.782C4.51984 18 5.07989 18 6.2 18Z" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg></span></h2>
        <b><ul>
        {{#with battery}}
        <li>
          {{type}}
        </li>
        <li>
          {{capacity}}
        </li>
        <li>
          {{life}}
        </li>
        {{/with}}
        </ul></b>
      </div>
      <hr />
      <div>
        <h4>Weight - {{weight}}</h4>
        <h4>Dimensions: <svg width="35px" height="35px" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path
    fill-rule="evenodd"
    clip-rule="evenodd"
    d="M3.00014 2.73895C3.00014 2.94698 2.76087 3.06401 2.59666 2.93628L1.00386 1.69744C0.875177 1.59735 0.875177 1.40286 1.00386 1.30277L2.59666 0.063928C2.76087 -0.0637944 3.00014 0.0532293 3.00014 0.261266V1.00012H9.00009V0.261296C9.00009 0.0532591 9.23936 -0.0637646 9.40358 0.0639578L10.9964 1.3028C11.1251 1.40289 11.1251 1.59738 10.9964 1.69747L9.40358 2.93631C9.23936 3.06404 9.00009 2.94701 9.00009 2.73898V2.00012H3.00014V2.73895ZM9.50002 4.99998H2.50002C2.22388 4.99998 2.00002 5.22384 2.00002 5.49998V12.5C2.00002 12.7761 2.22388 13 2.50002 13H9.50002C9.77616 13 10 12.7761 10 12.5V5.49998C10 5.22384 9.77616 4.99998 9.50002 4.99998ZM2.50002 3.99998C1.67159 3.99998 1.00002 4.67156 1.00002 5.49998V12.5C1.00002 13.3284 1.67159 14 2.50002 14H9.50002C10.3284 14 11 13.3284 11 12.5V5.49998C11 4.67156 10.3284 3.99998 9.50002 3.99998H2.50002ZM14.7389 6.00001H14V12H14.7389C14.9469 12 15.064 12.2393 14.9362 12.4035L13.6974 13.9963C13.5973 14.125 13.4028 14.125 13.3027 13.9963L12.0639 12.4035C11.9362 12.2393 12.0532 12 12.2612 12H13V6.00001H12.2612C12.0532 6.00001 11.9361 5.76074 12.0639 5.59653L13.3027 4.00373C13.4028 3.87505 13.5973 3.87505 13.6974 4.00374L14.9362 5.59653C15.0639 5.76074 14.9469 6.00001 14.7389 6.00001Z"
    fill="#000000"
  />
</svg></h4>
        {{#with dimensions}}
        <b><p>-Height - {{height}}</p>
        <p>-Width - {{width}}</p>
        <p>-Depth - {{depth}}</p></b>
        {{/with}}
      </div>
      <hr />
      <div>
        <h4>Operating System - {{operating_system}}</h4>
      </div>
      <div>
        <h4>Accessories:</h4>
        <ul>
          {{#each accessories}}
          <li>
           {{name}} - {{price}}€
          </li>
          {{/each}}
        </ul>
      </div>


    {{/with}}
</div>