{{#each itemList}}
    <div class="row">
        <div class="col-4">
            {{number}}
            <p>{{status}}</p>
        </div>
        <div class="col-2">
            {{#with amount}}
                <div>{{title}}</div>
                <p><b>{{value}}</b></p>
            {{/with}}    
        </div>
        <div class="col-4">
            {{#each images}}
                    <img src="{{this}}" width="60" alt="photo">
            {{/each}}
        </div>    
        
        {{#with button}}
            <div class="col-2">
                <a href="{{link}}" class="btn btn-primary">{{text}}</a>
            </div>
        {{/with}}
        <hr />
    </div>
{{/each}}
